{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="container">
    <h2>Project name: {{ object.name }}</h2>
    <p>Project owner: {{ object.owner }}</p>
    <p>{{ object.description }} </p>
    <p>Number of users required: {{ object.number_of_users_required }}</p>
    <p>Expiration date: {{ object.expiration_date }}</p>
    <p>Opensource:
    {% if object.opensource %}
        yes
    {% else %}
        no
    {% endif %}
    </p>
    <p>URL: <a href={{ object.url }}>{{ object.url }}</a></p>
    <h3>Skills:</h3>
    {% if object.skills.all %}
        <ul>
        {% for skill in object.skills.all %}
            <li>{{ skill.programming_lang }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No skills added.</p>
    {% endif %}
    <h3>Team members:</h3>
    {% if object.members.all %}
        <ul>
        {% for member in object.members.all %}
            <li>{{ member }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No project members yet.</p>
    {% endif %}
    <h3>Willing to join:</h3>
    {% if object.i_want_to_join.all %}
        <ul>
        {% for candidate in object.i_want_to_join.all %}
            <li>{{ candidate }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No project candidates yet.</p>
    {% endif %}
</div>

{% if user.is_authenticated %}
    {% if user == object.owner %}
        <p><a href = "{% url 'projects:update' object.slug %}">Update the project</a></p>
        <p><a href = "{% url 'projects:delete' object.slug %}">Delete the project</a></p>
    {% else %}
        {% if user in object.members.all %}
            <p>You are a member of this project.</p>
        {% elif user in object.i_want_to_join.all %}
            <p>You are waiting for being accepted as a member of this project.</p>
        {% else %}
            <button id="myBtn" class="img-responsive" data-toggle="modal" data-target="#myModal">Join the project</button>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure you want to join {{ object.name }} project?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button id="modal-submit" type="submit" class="btn btn-success" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            $(document).ready(function(){
                $('#modal-submit').click(function(){
                    var project = "{{object}}";
                    var user = "{{user}}";
                    project.i_want_to_join.add(user);
                });
            });
            </script>
        {% endif %}

    {% endif %}
{% endif %}

{% endblock content %}
