{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Projects{% endblock %}

{% block content %}

<div class="container">

    <h2>Projects</h2>

    <div class="search-form">
        <form action="">
            {{ object_list.form.as_p }}
            <button id="search_submit" type="submit">Search</button>
            <a href ="{% url 'projects:filters' %}">Clear Filters</a>
        </form>
        
    </div>


    <div class="list-group">
        {% for project in object_list %}
            <a href ="{% url 'projects:detail' project.slug %}" class="list-group-item" >
            <h4 class="list-group-item-heading">{{ project.name }}</h4>
            </a>
        {% endfor %}

    </div>

    <a href = "{% url 'projects:create' %}">Add new project</a>

</div>

{% endblock content %}